{
	token: "" 
	mainServer: "snowflake"
	
	databaseUrl: postgresql://user:password@localhost:/mydb?schema=public
	developers: []
	emojis: {
		yes: ""
		no: ""
	}
	roles: {
		employee: ""
		moderator: ""
		duty: ""
	}
	channels: {
		brewery: "" 
		delivery: ""
		feedback: ""
		tips: ""
	}
}