{
	token: ""
	mainServer: "snowflake"
	databaseUrl: postgresql://username:hunter2@localhost:5432/mydb?schema=public
	owners: [
		"413143886702313472"
	]
	emojis: {
		yes: ""
		no: ""
	}
	roles: {
		employee: ""
	}
}